main {
  max-height:100vh;
}

body {
    height:100vh;
    background-color:#489791;
    font-family:Lato,Helvetica,Arial,sans-serif;
}

.container-1 {
  display:flex;
  justify-content:center;
  flex-direction:column;
  margin:auto;
  margin-top:5em;
  width:80%;
  height:inherit;
  border-radius:7px;
}

.container-2 {
  margin-top:14em;
  padding:4rem;
  display:flex;
  align-self:center;
  width:67%;
  height:18rem;
  border-radius:.25rem;
  background-color:white;
}

.container-2-child {
  align-self:center;
  font-size:20px;
  display:flex;
  flex-direction:column;
  /*padding:3.25rem;*/
  padding-right:0;
  
}

.container-2-child img {
  height:13rem;
}

.container-2-child h2 {
  margin-bottom:40px;
  margin-top:0;
  font-family:Oswald,Helvetica,Arial,sans-serif;
  font-weight:400;
}


.container-2-child-2 {
  margin-top:4.5em;
  padding-left:20px;
  font-size:17.5px;
  line-height:1.4;
  display:flex;
  justify-content:center;
  flex-direction:column;
}

.container-3 {
  font-size:20px;
  margin-top:5em;
  padding:4rem;
  display:flex;
  align-self:center;
  flex-direction:column;
  width:67%;
  height:18rem;
  border-radius:.25rem;
  background-color:white;
}

.container-3-child {
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-items:flex-end;
}

.container-3 img {
  width:100px;
  height:100px;
}

.container-3 h2 {
  margin-bottom:40px;
  margin-top:0;
  font-family:Oswald,Helvetica,Arial,sans-serif;
  font-weight:400;
}

  @keyframes cursor-blink {
    0% {
      opacity:0;
    }
  }
  
  .header { 
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    font-family:sans-serif;
    opacity:100%;
  }
  
.header h1 {
  margin-bottom:12.5px;
  margin-top:25px;
  font-size:50px;
  line-height:1.1;
  font-weight:400;
  color:white;
}

  .header p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display:flex;
    font-size:12px;
    gap:5px;
    color:white;
    margin: 0 0 12.5px;
  }
  
  .header p::after {
    content:"";
    width:5px;
    height:20px;
    background: white;
    display:inline-block; 
    animation: cursor-blink 1.5s steps(2) infinite;
  }
  
  .header img {
    width:50px;
    height:50px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }

  @media (max-width: 877px) {
    .container-2-child img {
      width:250px;
      height:auto;
    }
    .container-2 {
      margin-top:30%;
    }
    .container-2-child-2 {
      margin-top:0;
      font-size:13.5px;
    }
  }
  @media (max-width: 667px) {
    .container-2-child img {
      
    }
  }

  
  