main {
  max-height:100vh;
}

body {
    height:100vh;
    background-color:#161616;
    font-family:Lato,Helvetica,Arial,sans-serif;
}

.body-2 {
    margin:auto;
    margin-top:5em;
    height:inherit;
    width:91%;
    background-color:#333333;
    border-radius:7px;
    box-shadow: rgb(255, 255, 255) 0px 0px 6px;
}


.container-1 {
  display:flex;
  justify-content:center;
  flex-direction:column;
  margin:auto;
  margin-top:5em;
  width:69%;
  height:inherit;
  border-radius:7px;
  background-color:#333333;
  box-shadow: rgb(255, 255, 255) 0px 0px 6px;
}

.container-2 {
  margin-top:20em;
  position:;
  padding:4rem;
  display:flex;
  align-self:center;
  width:67%;
  height:18rem;
  border-radius:.25rem;
  background-color:white;
}

.container-2-child {
  align-self:center;
  font-size:20px;
  display:flex;
  flex-direction:column;
  /*padding:3.25rem;*/
  padding-right:0;
  
}

.container-2-child img {
  width:initial;
  height:13rem;
}

.container-2-child h2 {
  margin-bottom:40px;
  margin-top:0;
  font-family:Oswald,Helvetica,Arial,sans-serif;
  font-weight:400;
}


.container-2-child-2 {
  margin-top:4.5em;
  padding-left:20px;
  font-size:15.5px;
  line-height:1.4;
  display:flex;
  justify-content:center;
  flex-direction:column;
}

.container-3 {
  margin-top:5em;
  padding:4rem;
  display:flex;
  align-self:center;
  width:67%;
  height:18rem;
  border-radius:.25rem;
  background-color:white;
}

  @keyframes cursor-blink {
    0% {
      opacity:0;
    }
  }
  
  .header { 
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    font-family:sans-serif;
    opacity:100%;
  }
  
.header h1 {
  margin-bottom:12.5px;
  margin-top:45px;
  font-size:63px;
}

  .header p {
    font-size: 1.25em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display:flex;
    align-items:flex-end;
    gap:5px;
  }
  
  .header p::after {
    content:"";
    width:5px;
    height:20px;
    background: white;
    display:inline-block; 
    animation: cursor-blink 1.5s steps(2) infinite;
  }
  
  img {
    width:50px;
    height:50px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }